.explore-container { 
   display: flex;
   overflow-x: auto;
   gap: 2rem;
   scroll-snap-type: mandatory;
   padding: 1rem 0;
   scrollbar-width: none;
}

.explore-container::-webkit-scrollbar {
    display: none;
}

.explore-container .explore-card {
    scroll-snap-align: start;
    border: 1px solid #333;
    min-width: 529px;
    height: 579px;
    padding: 0 1rem;
}

.explore-container .explore-card .like {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
}

.explore-container .explore-card img {
    height: 421px;
    object-fit: cover;
}

.explore-container .explore-card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: var(--text-sm);
    line-height: 31.23px;
    text-transform: capitalize;
}

.explore-container .explore-card .title svg {
    width: 30px;
    height: 30px;
}

.explore .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.explore .btn button {
    font-weight: 500;
    position: relative;
    font-size: var(--text-xs);
    line-height: 35.14px;
    background: linear-gradient(to right,#78A3Ad,#C05609);
    padding: 15px 45px;
    border-radius: 5px;
    z-index: 1;
}

.explore .btn button::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: var(--white);
    border-radius: 4px;
    z-index: -1;
    transition: 200ms;
}

.explore .btn button::after {
    content: attr(data);
    font-size: 2.25rem;
    background: linear-gradient(to left, #78A3Ad, #C05609);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
}

.explore .btn button:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.explore .btn button:hover::after {
    color: white;
}

@media screen and (max-width: 768px) {
    .explore-container {
        display: block;
        margin-bottom: 2rem;
    }

    .explore-container .explore-card {
        position: relative;
        padding: 0 .5rem;
        /* width: 398px; */
        min-width: 100%;
        height: 509px;
    }

    .explore-container .explore-card .like {
        margin-bottom: .2rem;
    }

    .explore-container .explore-card .overlay-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 85%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .explore-container .explore-card .overlay-btn button {
        background-color: transparent;
        border-radius: 50%;
        padding: 1rem 1.2rem;
        border: 1px solid var(--white);
    }

    .explore-container .explore-card .overlay-btn button svg {
        width: 30px;
        height: 30px;
        fill: white;
    }

    .explore-container .explore-card .title {
        margin: 0;
        font-size: 1.5rem;
        line-height: 23.42px;
    }

    .explore-container .explore-card .title svg {
        width: 23px;
        height: 23px;
    }

    .explore .btn {
        display: none;
    }
}
