/* ==== Featured Products ===== */
#home .featured {
  margin-top: 0rem;
}

#home .featured h1 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 65px;
}

#home .featured .products {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 4rem;
  gap: 1rem;
  min-height: 20.625rem;
}

#home .featured .reverse {
    flex-direction: row-reverse;
}

#home .featured .products .img {
    height: 100%;
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}

#home .featured .products .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: ease-in .4s;
    bottom: -3rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
}

#home .featured .products .overlay-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home .featured .overlay-content .arrow-btn svg path {
    fill: var(--white);
}

#home .featured .products .img:hover .overlay {
    bottom: 0;
    height: 100%;
}

#home .featured .products .overlay h3 {
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}

#home .featured .products .title {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1rem;
}

#home .featured .products .title h3 {
  font-weight: 700;
  font-size: 2.5rem;
}

#home .featured .products .title p {
  font-weight: 400;
  font-size: 1.5rem;
}

#home .featured .products .creators {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
}

#home .featured .products .creators div {
  flex-basis: 100%;
  display: flex;
}

#home .featured .products .creators img {
  width: 2rem;
  height: 2rem;
  margin-left: -0.5rem;
}

#home .featured .products .creators .sub-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-left: 1rem;
}

#home .featured .products .arrow-btn {
    background: transparent;
    border-radius: 50%;
    padding: 1.3rem 1rem;
    border: 1px solid var(--gray);
}


@media screen and (max-width: 768px) {
  /* ===== Featured Products ===== */
  #home .featured {
    margin-top: 3rem;
  }
  #home .featured h1 {
    font-weight: 700;
    font-size: 1.8rem;
  }

  #home .featured .products {
    flex-direction: column;
  }

  #home .featured .products .overlay {
    bottom: 0;
    height: 100%;
  }

  #home .featured .products .overlay-content {
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  #home .featured .overlay-content div   {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    margin: 0 auto;
  }

  #home .featured .overlay div .arrow-btn svg path {
    fill: var(--white);
  }

  #home .featured .products .title {
    min-height: 100%;
  }

  #home .featured .products .title p {
    font-size: 0.9rem;
  }

  #home .featured .products .creators div {
    flex-basis: 100%;
  }

  #home .featured .products .creators img {
    width: 30px;
    height: 30px;
    margin-left: -0.4rem;
  }

  #home .featured .products .creators .title {
    font-size: 1rem;
  }

  #home .featured .products .creators {
    width: fit-content;
      border-bottom: 2px solid var(--gray);
      margin-bottom: 1rem;
  }

  #home .featured .products .creators .sub-title {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
  }
}
