#home {
    margin-top: 2rem;
    overflow-x: hidden;
}

#home .hero {
    text-align: center;
}

#home .hero h1 {
    font-weight: 600;
    font-size: var(--text-3xl);
    max-width: 1900px;
    margin: 0 auto;
    width: 90%;
}

 #home .hero p {
    margin-top: 1rem;
    font-size: var(--text-xs);
    font-weight: 500;
    margin: 1rem auto;
    line-height: 1.5;
    max-width: 1068px;
    width: 55%;
 }

 /* ===== Carousel ===== */

 #home .carousel {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(280px, 1fr));
    grid-template-rows: repeat(6, minmax(100px, 1fr));
    background-color: var(--white);
 }

  #home .carousel div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

 #home .carousel div img {
    width: 100%;
    object-fit: contain;
    transition: all ease-in-out 1s;
 }

 #home .carousel div:nth-child(1) {
    grid-row: 3/5;
 }

 #home .carousel div:nth-child(2) {
    grid-row: 2/6;
 }

 #home .carousel div:nth-child(3) {
    position: relative;
    grid-row: 1/5;
 }

 #home .carousel div:nth-child(4) {
    grid-row: 2/6;
 }

#home .carousel div:nth-child(5) {
    grid-row: 2/5;
}

 .active-slide {
    position: absolute;
    top: 0;
    left: 0;
 }

 .next-slide {
    /* z-index: -1; */
    position: absolute;
    top: 0;
    right: -100%;
    grid-row: inherit;
 }

 .prev-slide {
     z-index: -1;
     position: absolute;
     top: 0;
     right: 250px;
 }

@media screen and (max-width: 768px) {
    #home .hero {
        margin: 2rem 0;
    }
    #home .hero h1 {
        font-weight: 500;
        font-size: var(--text-lg);
    }

    #home .hero p {
        font-size: var(--text-xs);
        width: 85%;
    }

    /* ===== Gallery ===== */
    #home .carousel {
        display: none;
    }

    #home .hero .gallery {
        margin-top: 1rem;
        background-image: url('../../images/carousel-images/blue-bg.png'), url('../../images/carousel-images/pink-bg.png'), url('../../images/carousel-images/pink-bg.png');
        background-repeat: no-repeat;
        background-position: top 10% right, bottom 10% right, bottom 20% left;
        position: relative;
        margin: 0 auto;
        width: 350px;
        min-width: 80%;
        height: 500px;
        z-index: -2;
    }

    #home .hero .gallery img{
        position: absolute;
        object-fit: contain;
        width: 75%;
        height: 300px;
        left: 50%;
        top:50%;
        transform: translate(-50%, -50%);
    }

    #home .hero .gallery img:nth-child(1) {
        height: 400px;
        z-index: 4;
        top: 5%;
        left: 10%;
        transform: rotate(2deg);
    }

    #home .hero .gallery img:nth-child(2) {
        z-index: 3;
        top: 10%;
        left: 10%;
        transform: rotate(-10deg);
    }

    #home .hero .gallery img:nth-child(3) {
        z-index: 2;
        top: 10%;
        left: 10%;
        transform: rotate(-15deg);
    }

    #home .hero .gallery img:nth-child(4) {
        z-index: 1;
        top: 10%;
        left: 10%;
        transform: rotate(20deg);
    }
}