.auction .auction-card {
    position: relative;
    transition: ease-in-out all .3s;
}

.auction .auction-card:hover {
    transform: scale(0.85);
}

.auction .auction-card img {
    border-radius: 10px;
    width: 400px;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.auction .auction-card .overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(245, 244, 244, 0.24);
    backdrop-filter: blur(4px);
    font-weight: 500;
    color: var(--white);
    font-size: 2.5rem;
    font-size: var(--text-sm);
    line-height: 64px;
}

.explore-container .explore-card {
    scroll-snap-align: start;
    border: 1px solid #333;
    min-width: 529px;
    height: 579px;
    padding: 0 1rem;
}

.explore-container .explore-card .like {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
}

.explore-container .explore-card img {
    object-fit: cover;
}

.explore-container .explore-card .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 2rem;
    line-height: 31.23px;
    text-transform: capitalize;
}

.explore-container .explore-card .title svg {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 768px) {
    .auction .auction-card img {
        width: 200px;
        height: 180px;
    }

    .auction .auction-card .overlay {
        font-weight: 400;
        font-size: var(--text-sm);
        line-height: 25px;
    }
}