footer {
    margin-bottom: 3rem;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h2 {
    font-size: var(--text-sm);
    font-weight: 400;
    line-height: 16px;
    color: #333333;
    padding: 2rem 0;
    width: clamp(300px, 85%, 1600px);
    margin: 0 auto;
}

footer .container .logo,
footer .container .links,
footer .container .services,
footer .container .contact {
    flex-basis: 25%;
}

footer .container .logo {
    cursor: pointer;
    align-self: center;
    font-weight: 600;
    font-size: var(--text-lg);
    line-height: 59px;
    color: #292929;
    text-align: center;
}

footer .container .links {
    margin: 0;
}

footer .container .links li,
footer .container .services li,
footer .container .contact {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: var(--text-xs);
    line-height: 35px;
    color: #333333;
}

footer .container .links li:hover,
footer .container .services li:hover {
    color: var(--blue);
    text-decoration: underline;
}

footer .container .contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

footer .container .contact a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

footer .container .contact:hover {
    text-decoration: underline;
}

footer .container .contact svg {
    width: 30px;
    height: 35px;
}

footer .copyright {
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: 500;
    font-size: var(--text-xs);
    margin-top: 2rem;
    color: var(--gray);
    line-height: 21px;
}

@media screen and (max-width: 768px) {
    footer .container .contact a {
        font-size: var(--text-sm);
    }
    
}