@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

@font-face {
  font-family: "Satoshi-Variable";
  src: url("./fonts/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/Satoshi-Variable.woff") format("woff"),
    url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("./fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("./fonts/ClashDisplay-Variable.woff") format("woff"),
    url("./fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "stix";
  src: url("./fonts/STIXTwoText-Regular.ttf") format("truetype"),
    url("./fonts/STIXTwoText-Medium.ttf") format("truetype"),
    url("./fonts/STIXTwoText-SemiBold.ttf") format("truetype"),
    url("./fonts/STIXTwoText-Bold.ttf") format("truetype");
  font-weight: 200 900;
  font-display: swap;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #292929;
  --blue: #3341c1;
  --gray: #bcb7b7;
  --text-xs: clamp(0.87rem, calc(0.72rem + 0.72vw), 1.28rem);
  --text-sm: clamp(1.04rem, calc(0.85rem + 0.97vw), 1.6rem);
  --text-md: clamp(1.25rem, calc(0.99rem + 1.3vw), 2rem);
  --text-lg: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);
  --text-xl: clamp(1.8rem, calc(1.34rem + 2.3vw), 3.13rem);
  --text-2xl: clamp(2.16rem, calc(1.55rem + 3.04vw), 3.91rem);
  --text-3xl: clamp(2.59rem, calc(1.79rem + 3.98vw), 4.88rem);
  --text-4xl: clamp(3.11rem, calc(2.07rem + 5.21vw), 6.1rem);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection{
  color: var(--white);
  background-color: var(--black);
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Satoshi-Variable", sans-serif;
}

.App {
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

.container {
  width: clamp(300px, 85%, 1600px);
  margin: 0 auto;
}

.satoshi {
  font-family: "Satoshi-Variable", sans-serif;
}

.bellefair {
  font-family: "Bellefair", serif;
}

.stix {
  font-family: "stix", serif;
}

.clash {
  font-family: "ClashDisplay-Variable", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
}

.not-found {
  display: grid;
  place-items: center;
  height: 40vh;
}

.not-found h1 {
  color: crimson;
}

.not-found a {
  background-color: var(--blue);
  padding: 1rem;
  color: var(--white);
  font-weight: 700;
  border-radius: 6px;
}

.not-found a:hover {
  box-shadow: var(--dark-shadow);
  background-color: green;
}

.not-found + * {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .App {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
    
  .d-none {
    display: none;
  }
}
